@using LojaProdutos.DTOs.Usuario
@model CriarUsuarioDTO

<div class="container mt-5">
    <h2>Cadastro de Usuarios</h2>
    <form asp-controller="Usuario" asp-action="Cadastrar" method="post"> 
        <div class="mb-1">
            <label class="form-label">Nome Completo</label>
            <input type="text" class="form-control shadow-none" asp-for="Nome" />
        </div>

        <div class="mb-1">
            <label class="form-label">Email</label>
            <input type="email" class="form-control shadow-none" asp-for="Email"/>
        </div>

        <div class="mb-1">
            <label class="form-label">Cargo</label>
            <select class="form-select shadow-none" asp-for="Cargo">
                <option value="Cliente">Cliente</option>
                <option value ="Administrador">Administrador</option>
            </select>
        </div>

        <div class="col-12 d-flex gap-1 w-100">
            <div class="mb-1 col-6">
                <label class="form-label">CEP</label>
                <input type="text" class="form-control shadow-none" id="input-cep" asp-for="CEP"/>
            </div>
            <div class="mb-1 col-6">
                <label class="form-label">Estado</label>
                <input type="text" class="form-control shadow-none" id="input-estado" asp-for="Estado"/>
            </div>
        </div>

        <div class="col-12 d-flex gap-1 w-100">
            <div class="mb-1 col-6">
                <label class="form-label">Logradouro</label>
                <input type="text" class="form-control shadow-none" id="input-logradouro" asp-for="Logradouro"/>
            </div>
            <div class="mb-1 col-6">
                <label class="form-label">Numero</label>
                <input type="text" class="form-control shadow-none" asp-for="Numero"/>
            </div>
        </div>

        <div class="col-12 d-flex gap-1 w-100">
            <div class="mb-1 col-6">
                <label class="form-label">Bairro</label>
                <input type="text" class="form-control shadow-none" id="input-bairro" asp-for="Bairro"/>
            </div>
            <div class="mb-1 col-6">
                <label class="form-label">Complemento</label>
                <input type="text" class="form-control shadow-none" id="input-complemento" asp-for="Complemento"/>
            </div>
        </div>

        <div class="mb-1">
            <label class="form-label">Senha</label>
            <input type="password" class="form-control shadow-none" asp-for="Senha"/>
        </div>
        <div class="mb-1">
            <label class="form-label">Confirma Senha</label>
            <input type="password" class="form-control shadow-none" asp-for="ConfirmarSenha"/>
        </div>
        <div>
            <button type ="submit" class="btn btn-outline-success w-50 mx-1">Cadastrar</button>
            <a asp-controller="Usuario" asp-action="Index" class="btn btn-outline-info">Voltar</a>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script>
    var inputLogradouro = document.querySelector('#input-logradouro');
    var inputBairro = document.querySelector('#input-bairro');
    var inputEstado = document.querySelector('#input-estado');
    var inputComplemento = document.querySelector('#input-complemento');

    $('#input-cep').focusout(async function (e) {
        var target = e.target;
        var value = target.value;

        var url = `https://viacep.com.br/ws/${value}/json`

        var resposta = await fetch(url);
        var dados = await resposta.json();

        inputLogradouro.value = dados.logradouro;
        inputBairro.value = dados.bairro;
        inputEstado.value = dados.uf;
        inputComplemento.value = dados.complemento; 
    })
</script>