@using LojaProdutos.DTOs.Usuario
@model EditarUsuarioDTO

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>

}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-white" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div class="container mt-5">
    <h2>Editar Usuario</h2>
    <form asp-controller="Usuario" asp-action="Editar" method="post">

        <input type="hidden" asp-for="Id" />

        <div class="mb-1">
            <label class="form-label">Nome Completo</label>
            <input type="text" class="form-control shadow-none" asp-for="Nome" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="mb-1">
            <label class="form-label">Email</label>
            <input type="email" class="form-control shadow-none" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-1">
            <label class="form-label">Cargo</label>
            <select class="form-select shadow-none" asp-for="Cargo">
                <option value="Cliente">Cliente</option>
                <option value="Administrador">Administrador</option>
            </select>
        </div>

        <div class="col-12 d-flex gap-1 w-100">
            <div class="mb-1 col-6">
                <label class="form-label">CEP</label>
                <input type="text" class="form-control shadow-none" id="input-cep" asp-for="Endereco.CEP" />
                <span asp-validation-for="Endereco.CEP" class="text-danger"></span>
            </div>
            <div class="mb-1 col-6">
                <label class="form-label">Estado</label>
                <input type="text" class="form-control shadow-none" id="input-estado" asp-for="Endereco.Estado" />
                <span asp-validation-for="Endereco.Estado" class="text-danger"></span>
            </div>
        </div>

        <div class="col-12 d-flex gap-1 w-100">
            <div class="mb-1 col-6">
                <label class="form-label">Logradouro</label>
                <input type="text" class="form-control shadow-none" id="input-logradouro" asp-for="Endereco.Logradour" />
                <span asp-validation-for="Endereco.Logradour" class="text-danger"></span>
            </div>
            <div class="mb-1 col-6">
                <label class="form-label">Numero</label>
                <input type="text" class="form-control shadow-none" asp-for="Endereco.Numero" />
                <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
            </div>
        </div>

        <div class="col-12 d-flex gap-1 w-100">
            <div class="mb-1 col-6">
                <label class="form-label">Bairro</label>
                <input type="text" class="form-control shadow-none" id="input-bairro" asp-for="Endereco.Bairro" />
                <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
            </div>
            <div class="mb-1 col-6">
                <label class="form-label">Complemento</label>
                <input type="text" class="form-control shadow-none" id="input-complemento" asp-for="Endereco.Complemento" />
                <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-outline-success w-25 mx-1">Editar</button>
            <a asp-controller="Usuario" asp-action="Index" class="btn btn-outline-info w-25 mx-1">Voltar</a>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script>
    var inputLogradouro = document.querySelector('#input-logradouro');
    var inputBairro = document.querySelector('#input-bairro');
    var inputEstado = document.querySelector('#input-estado');
    var inputComplemento = document.querySelector('#input-complemento');

    $('#input-cep').focusout(async function (e) {
        var target = e.target;
        var value = target.value;

        var url = `https://viacep.com.br/ws/${value}/json`

        var resposta = await fetch(url);
        var dados = await resposta.json();

        inputLogradouro.value = dados.logradouro;
        inputBairro.value = dados.bairro;
        inputEstado.value = dados.uf;
        inputComplemento.value = dados.complemento;
    })
</script>